.DashboardButton {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;

    height: 28%;
    width: 30%;
    
    border-radius: 20px;
    
    background-image: url("../../assets/ingredients.avif");
    background-size: cover;
    background-position: center;
    cursor: pointer;

    transition: all 0.15s ease-in-out;
}

.DashboardButton::after {
    content: "";
    
    position: absolute;
    
    border-radius: 20px;
    height: 100%;
    width: 100%;
    
    backdrop-filter: blur(2px);
    background-color: rgba(42, 95, 87, 0.60);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.65);
}

.DashboardButton:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.85);
    transform: translateY(-2px);
}

.DashboardButton:active {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.85);
    transform: translateY(2px);

}

.DashboardButton-title {
    color: white;
    font-family: 'Bestie';
    font-size: 3rem;
    vertical-align: middle;
    text-shadow: 3px 6px 6px #000000;

    position: relative;
    z-index: 3;
    
    user-select: none;

    transition: all 0.3s ease-in-out;
}

.DashboardButton-text {
    margin: 20px;
    
    color: rgb(231, 245, 239);
    
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px black;

    user-select: none;
    
    z-index: 3;
}