@import url("../../styles/keyframes.css");
@import url("../../styles/root.css");

.ComboBox {
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
}

.ComboBox-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    margin-bottom: 10px;
}

.ComboBox-body {
    padding: 0px;
}

.ComboBox-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
}

    .ComboBox-footer-span {
        font-size: 12px;
        color: gray;
        user-select: none;
    }


/* Dropdown */
.ComboBox-dropdown {
    min-width: 20%;

    border: 1px solid lightgray;
    border-radius: 5px 0px 0px 5px;
    
    color: black;
    background-color: white !important;
    box-shadow: var(--margin-box-shadow) !important;
}

.ComboBox-dropdown:hover {
    color: white;
    border-color: var(--darkgreen) !important;
    background-color: var(--darkgreen-fill) !important;
}

.ComboBox-dropdown:focus {
    border-color: var(--darkgreen) !important;
    background-color: var(--darkgreen-opaque-35) !important;
}

.ComboBox-dropdown:active {
    border-color: var(--darkgreen) !important;
    background-color: var(--darkgreen-opaque-60) !important;
}

.ComboBox-dropdown-item:hover {
    color: white;
    background-color: var(--darkgreen-opaque-60);
}

.ComboBox-dropdown-item:active {
    color: white;
    background-color: var(--darkgreen-opaque-35) !important;
}

.ComboBox-dropdown:disabled {
    border: 1px solid lightgray;
    box-shadow: none !important;
}

/* Search bar */
.ComboBox-search-bar {
    width: 88%;
    border-radius: 0px 5px 5px 0px;
    box-shadow: var(--margin-box-shadow);
}

.ComboBox-search-bar:disabled {
    box-shadow: none;
}


/* Switch */
.ComboBox-switch {
    text-align: center;

    user-select: none;
    cursor: pointer;
    min-width: 15%;
}


/* Lock button */
.ComboBox-lock-button {
    font-size: 1rem;
    width: 3.1rem;

    color: black;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: var(--margin-box-shadow);
}

.ComboBox-lock-button:hover {
    color: white;
    border-color: var(--darkgreen);
    background-color: var(--darkgreen-fill);
}

.ComboBox-lock-button:focus {
    border-color: var(--darkgreen) !important;
    background-color: var(--darkgreen-opaque-60) !important;
}

.ComboBox-lock-button:active {
    border-color: var(--darkgreen) !important;
    background-color: var(--darkgreen-opaque-35) !important;
}


/* Table */
.ComboBox-table-container {
    max-height: 297px;
    overflow-y: auto;
}

.ComboBox-table {
    margin-bottom: 0px;

}

.ComboBox-table-header {
    background-color: var(--lightgreen) !important;
}

.ComboBox-table-row-data {
    vertical-align: 'middle';
    user-select: 'none';
}

.ComboBox-table-row-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
}

.ComboBox-checkbox {
    margin-left: 10px;
}

.ComboBox-delete-button {
    display: inline-block;
    font-size: 0.75rem;
    transition: all 0.05s ease-in-out;
}

.ComboBox-delete-button:active {
    transform: scale(0.95);
}


/* Specific custom rows */
.ComboBox-table-quantity-header, .ComboBox-table-id_unit-header {
    text-align: center;
    width: 10%;
}

.ComboBox-Select {
    text-align: center;
    padding: 0;
}

.ComboBox-quantity-input {
    text-align: center;
}