@font-face {
    font-family: 'Bestie'; 
    src: url('../../assets/Bestie.otf') format('opentype');
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.fade-out {
    opacity: 1;
    animation: fadeOut ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Menu-Button {
    height: 4em;
    padding: 1em;
    border: none;
    border-radius: 1em;
    box-shadow: 0px 3px 3px 0px gray;
    background-color: rgb(169, 197, 196);
    color: black;
    
    display: flex;
    align-items: center;
    gap: 1em;
    
    width: 60px;
    transition: all 0.1s ease-in-out, width 0.15s;
    font-family: 'Bestie';
    text-shadow: 0px 3px 1px black;
}

.Menu-Button:hover {
    background-color: rgb(145, 177, 176);
    color: white;
    width: 100%;
}

.Menu-Button:active {
    background-color: rgb(169, 197, 196);
    box-shadow: 0px 1px 1px 0px gray;
}

.Menu-Button-icon {
    font-size: 2em;
    text-shadow: 0px 3px 1px black;
}

.Menu-Button-label {
    font-size: 2em;
    padding: 0px;
}