/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

@font-face {
    font-family: 'Bestie'; 
    src: url('../assets/Bestie.otf') format('opentype');
}

.text-divider-01 {
    background-color: white;
    height: 1px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    margin: 30px;
}

.text-divider-02 {
    height: 1px;
    margin: 16px;
}



.generic-form {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    position: relative;
    background: linear-gradient(to bottom, rgba(218, 231, 230, 0), rgba(190, 220, 227, 0.8));
    transition: all 0.15s ease-in-out;
}

.generic-form:hover {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
}

.generic-form-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.generic-form-title {
    font-family: 'Bestie';
    position: absolute;
    z-index: 1;
    top: 56px;
    left: 60px;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 6px #000000;
    user-select: none;
}

.generic-form-inputs {
    padding: 10px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

/* Notification */
.notification-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.notification-toast-container {
    position: relative;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}



/* Accordion button */
.custom-accordion-button {
    color: rgba(22, 69, 62, 1);
    background-color: rgba(218, 231, 230, 0.35);
    border-color: rgba(22, 69, 62, 1);
    transition: all 0.1s ease-in-out;
}

.custom-accordion-button:hover {
    color: white;
    background-color: rgba(22, 69, 62, 0.8);
    border-color: rgba(22, 69, 62, 0.8);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
}

.custom-accordion-button:active {
    background-color: rgba(22, 69, 62, 0.4) !important;
    border-color: rgba(22, 69, 62, 0.4) !important;
    box-shadow: none;
}

.custom-accordion-button:focus {
    background-color: rgba(22, 69, 62, 0.35) !important;
    border-color: rgba(22, 69, 62, 1) !important;
}

/* Submit button */
.generic-form-submit {
    float: right;
    color: white;
    background-color: rgba(22, 69, 62, 0.8);
    border-color: rgba(22, 69, 62, 0.8);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
    transition: all 0.1s ease-in-out;
}

.generic-form-submit:hover {
    color: white;
    background-color: rgba(22, 69, 62, 0.6);
    border-color: rgba(22, 69, 62, 0.6);
}

.generic-form-submit:active {
    background-color: rgba(22, 69, 62, 0.4) !important;
    border-color: rgba(22, 69, 62, 0.4) !important;
    box-shadow: none;
}

.generic-form-submit:focus {
    background-color: rgba(22, 69, 62, 0.8) !important;
    border-color: rgba(22, 69, 62, 0.8) !important;
}

.generic-form-collapse {
    transition: all 0.15s ease-in-out;
}

.recipe-form-text {
    font-weight: 200;
    font-size: 20px;
    color: rgba(22, 69, 62, 1);
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
}