.text-divider-01 {
    background-color: white;
    height: 1px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    margin: 30px;
}

.text-divider-02 {
    height: 1px;
    margin: 16px;
}



.generic-form {
    position: relative;
    border-radius: 10px;
    
    background: linear-gradient(to bottom, rgba(218, 231, 230, 0), rgba(190, 220, 227, 0.8));
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);

    transition: all 0.15s ease-in-out;
}

.generic-form:hover {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
}

.generic-form-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.generic-form-title {
    font-family: 'Bestie';
    position: absolute;
    z-index: 1;
    top: 56px;
    left: 60px;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 6px #000000;
    user-select: none;
}

.generic-form-inputs {
    padding: 1rem;
}

/* Notification */
.notification-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.notification-toast-container {
    position: relative;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}

/* Recipe form text */
.recipe-form-text {
    font-weight: 200;
    font-size: 20px;
    color: rgba(22, 69, 62, 1);
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
}