@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

@keyframes fadeInMedium {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in-medium {
    opacity: 0;
    animation: fadeInMedium ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

@keyframes fadeInLong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in-long {
    opacity: 0;
    animation: fadeInLong ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}