.main-container {
    background-color: var(--main-bg-color);
}

.content-container {
    padding: 10px;
    height: 100vh;

    background-color: var(--main-bg-color);

    transition: all 0.1s ease-in-out;
}