:root {
    /* --main-bg-color: rgb(244, 237, 228); */
    --main-bg-color: rgb(244, 243, 228);
    --topdown-gradient-green: linear-gradient(to bottom, rgba(218, 231, 230, 0), rgba(190, 220, 227, 0.8));

    /* Container spacing */
    --spacing-horizontal: 1rem;
    --spacing-vertical: 0.625rem;
    --spacing-margin: 0.625rem 1rem;

    /* Radius */
    --radius: 0.5rem;

    /* Colors */
    --lightgreen: rgb(236, 243, 241);
    --darkgreen: rgb(22, 69, 62);
    --darkgreen-fill: rgb(57, 83, 79);
    --darkgreen-opaque-35: rgba(22, 69, 62, 0.35);
    --darkgreen-opaque-60: rgba(22, 69, 62, 0.60);

    /* Box-Shadows */
    --smooth-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
    --highlight-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
    --margin-box-shadow: 0px 1px 1px 0px lightgray;

    /* Text */
    --title-text-shadow: 2px 2px 6px #000000;
}


/* Main containers */
.main-container {
    background-color: var(--main-bg-color);
}

.content-container {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    padding: 0.625rem;
    height: 92vh;

    background-color: var(--main-bg-color);

    transition: all 0.1s ease-in-out;
}

/* Notifications */
.notification-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.notification-toast-container {
    position: relative;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}