:root {
    /* --main-bg-color: rgb(244, 237, 228); */
    --main-bg-color: rgb(244, 243, 228);
    --topdown-gradient-green: linear-gradient(to bottom, rgba(218, 231, 230, 0), rgba(190, 220, 227, 0.8));

    /* Container spacing */
    --spacing-horizontal: 1rem;
    --spacing-vertical: 0.625rem;
    --spacing-margin: 0.625rem 1rem;

    /* Radius */
    --radius: 0.5rem;

    /* Colors */
    --lightgreen: rgb(236, 243, 241);
    --mediumgreen: rgb(190, 220, 227);
    --darkgreen: rgb(22, 69, 62);
    --darkgreen-fill: rgb(57, 83, 79);
    --darkgreen-opaque-60: rgba(22, 69, 62, 0.60);
    --darkgreen-opaque-35: rgba(22, 69, 62, 0.35);
    --darkgreen-opaque-20: rgba(22, 69, 62, 0.20);

    /* Box-Shadows */
    --smooth-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
    --highlight-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
    --margin-box-shadow: 0px 1px 1px 0px lightgray;
    --downward-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.65);

    /* Text */
    --title-text-shadow: 2px 2px 6px #000000;
}


/* Flex */
.flex {
    display: flex;
}

.vertical {
    flex-direction: column; 
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}


/* Display */
.hidden {
    display: none;
}

.block {
    display: block;
}


/* Positioning */
.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}


/* Text */
.t-shadow {
    text-shadow: var(--title-text-shadow);
}

.no-select {
    user-select: none;
}

.f-size-0-75 {
    font-size: 1rem;
}

.f-size-1 {
    font-size: 1rem;
}

.f-size-1-25 {
    font-size: 1.25rem;
}


/* Spacing */
.margin-1 {
    margin: 1rem;
}  

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
} 

.z-5 {
    z-index: 5;
}

/* Transitions */
.transition-0-1 {
    transition: all 0.1s ease-in-out;
}

.transition-0-2 {
    transition: all 0.2s ease-in-out;
}

.transition-0-3 {
    transition: all 0.3s ease-in-out;
}


/* Syntax sugar */
.centerize {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}


/* Others */
.Content {
    width: 100%;
    
    /* padding: 0.625rem; */
    gap: 1rem;
    
    background-color: var(--main-bg-color);

    transition: all 0.1s ease-in-out;
}

.Notification {
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.Notification-toast {
    position: relative;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}
