.GenericForm {
    position: relative;
    border-radius: var(--radius);
    
    background: var(--topdown-gradient-green);
    box-shadow: var(--smooth-box-shadow);

    transition: all 0.15s ease-in-out;
}

.GenericForm:hover {
    box-shadow: var(--highlight-box-shadow);
}

.GenericForm-description {
    font-weight: 200;
    font-size: 20px;
    color: rgba(22, 69, 62, 1);
}

.GenericForm-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GenericForm-body-container, .GenericForm-footer-container {
    padding: var(--spacing-margin);
}


.GenericForm-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.GenericForm-title {
    position: absolute;
    
    top: 56px;
    left: 60px;
    z-index: 1;

    color: white;
    font-size: 80px;
    font-family: 'Bestie';
    text-shadow: var(--title-text-shadow);
    
    user-select: none;
}