@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}


.Menu {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 2;

    border: 1px solid rgba(22, 69, 62, 1);
    border-radius: 0.625rem;
    background-color: rgb(26, 78, 70);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0, 0.9);

    width: fit-content;
    height: fit-content;
}

.Menu:hover {
    border: none;
    background: transparent;
    box-shadow: none;
}


.Menu-icon {
    color: white;
    padding: 0.625rem;
    font-size: 1.75rem;
}

.Menu-icon.expanded {
    display: none;
}

.Menu-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
    min-width: 140px;
    padding: 6px;
    
    color: white;
    border: 2px solid rgba(22, 69, 62, 0.8);
    border-radius: 0.625rem;
    background-color: rgba(26, 78, 70, 1);
    box-shadow: 0px 3px 5px 0px black;
    
    transition: all 0.1s ease-in-out;
}

.Menu-button:hover {
    background-color: rgb(85, 122, 117);
    border-color: rgba(22, 69, 62, 1);
}

.Menu-button:active {
    background-color: rgb(22, 69, 62);
    box-shadow: none;
}

.Menu-button-icon {
    font-size: 1.25rem;
}