.ConfirmationPopover-header{
    background-color: var(--lightgreen);
    color: var(--darkgreen);
}

.ConfirmationPopover-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ConfirmationPopover-text-container {
    max-width: 12rem;
    text-align: center;
    color: var(--darkgreen);
}

.ConfirmationPopover-button-container {
    display: flex;
    gap: 3rem;
}

.ConfirmationPopover-FormButton-outlined {
    color: var(--darkgreen);
    background-color: transparent;
    border-color: var(--darkgreen);
    transition: all 0.1s ease-in-out;
}

.ConfirmationPopover-FormButton-outlined:hover {
    background-color: var(--darkgreen);
    border-color: var(--darkgreen);
}

.ConfirmationPopover-FormButton-outlined:focus {
    background-color: var(--darkgreen-opaque-60);
    border-color: var(--darkgreen);
}

.ConfirmationPopover-FormButton-outlined:active {
    background-color: var(--darkgreen-fill) !important;
    border-color: var(--darkgreen) !important;
    transform: scale(0.95);
}