.Navbar {
    display: flex;
    align-items: center;

    height: 8vh;

    padding: 0px 5%;

    background-image: url("../../assets/navbar.jpg");
    background-size: cover;
    background-position: 0% 55%;
}

.Navbar::after {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: rgba(42, 95, 87, 0.6);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}

.Navbar-item {
    color: white;
    font-family: 'Bestie';
    font-size: 3rem;
    font-weight: 200;
    vertical-align: middle;
    text-shadow: 3px 6px 6px #000000;
    
    padding: 30px 5%;
    z-index: 3;
    
    cursor: pointer;
    user-select: none;

    transition: all 0.3s ease-in-out;
}

.Navbar-item:hover {
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}


.slide-out {
    animation: slideOut 0.2s ease-in-out;
}
@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        /* display: none !important; */
    }
}

.slide-in {
    animation: slideIn 0.2s ease-in-out;
}
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        /* display: none !important; */
    }
    100% {
        transform: translateY(0);
    }
}