.Sidebar{   
    top: 0;

    width: 300px;
    height: 100vh;

    padding: 1rem;
    gap: 2rem;

    background-color: var(--darkgreen-fill);
    transition: all 0.3s ease-in-out;
}

.Sidebar .Text {
    color: var(--lightgreen);
    font-size: 2rem;
    font-weight: 200;
    text-shadow: var(--title-text-shadow);
    user-select: none;
}

.Sidebar .Icon {
    width: 2rem;
    height: 2rem;
}


/* Menu */
.Sidebar .Menu {
    padding: 1rem;

    border: 1px solid white;
    border-radius: var(--radius);

    transition: all 0.2s ease-in-out;
}

.Sidebar .Menu:hover {
    color: var(--darkgreen);
    text-shadow: none;

    background-color: var(--lightgreen);
    box-shadow: var(--highlight-box-shadow);
    cursor: pointer;
}

.Sidebar .Menu:active {
    color: var(--mediumgreen);   
    background-color: transparent;
    border: none;
    box-shadow: none;
}


/* Submenu */
.Sidebar .Submenu {
    width: 80%;

    margin: 1rem 0;

    color: white;
    font-size: 1.25rem;
    font-weight: 200;
    text-shadow: var(--title-text-shadow);

    padding: 0.5rem 0;
    text-align: center;
    user-select: none;
    cursor: pointer;

    transition: all 0.125s ease-in-out;
}

.Sidebar .Submenu:hover {
    color: var(--darkgreen);
    text-shadow: none;

    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--highlight-box-shadow);
}

.Sidebar .Submenu:active {
    color: var(--mediumgreen);
    background-color: transparent;
    box-shadow: none;
}


/* Image */
.Sidebar .Image {
    width: 3.25rem;
    height: 3.25rem;

    border: 2px solid var(--darkgreen);
}


/* User */
.Sidebar .User {
    padding: 0.5rem 2rem;

    color: white;
    font-size: 1.25rem;
    font-weight: 200;
}

.Sidebar .User:hover {
    color: var(--darkgreen);
    text-shadow: none;

    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--highlight-box-shadow);

    cursor: pointer;
}